/*BOTONERA PRINCIPAL*/

.botoneraprincipal{
    background-color: $bg-black;
    img{
        width: $vw-10;
        height: $vh-18;
        margin: 15px;
        border-radius: $borderradius1;
        opacity: $op-70;
    }

    a{
        color:map-get($map:$colores,$key:'blanco');
        text-decoration: none;
        font-family: $fuenteprimaria;
        font-size: $font16;
        &:hover{
            color: map-get($map:$colores,$key:'lima');
            font-weight: $text-bold;
        }

    }
    
    .navbar-toggler-icon {
        background-image: $bgimg2;
    }

    .navbar-toggler {
            border-color: $borderred;
    }
}