/*VARIABLES COMUNES*/

*{
	padding: 0;
	margin: 0;
}

html{
	font-size: 62.5%;
}

body{
	background-image: $bgimg1;
	background-attachment: $bgattach;
	opacity: $op-95;
}

.p{
	@include parr();
}

.h{

	@include H();
}

.w-90{
	width: $w-90;
}

/*BOTONES*/

.btn-{
	width: $w-90;
	background-color: map-get($map:$colores,$key:'azul');
	color: $colorblanch;
	margin-left: 2em;
	margin-top: 2em;
    &:hover{
        color:map-get($map:$colores,$key:'lima')
    }
}

.btn-radius{
	@extend .btn-;
	background-color: $bg-white;
	border-radius: 3px;
	color: $colorblack;
	&:hover{
		color: $colorred;
	}
}

/*IFRAMES*/

.iframe{
	width: $vw-65;
	height: $vh-65;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*MODIFICO PROPIEDADES DEL CAROUSEL*/

.carousel-item{
	height: $vh-45;
}

/*APLICO ANIMACION EN SECCION DE EQUIPOS Y VIDEOGALERIA*/

.zoom{
	transition: all 300ms;
	position: relative;
	img{
		&:hover{
			transform: scale(1.10);
			margin-top: 15px;
			margin-bottom: 5px;
			box-shadow: 7px 5px 6px 4px rgba(36,33,33,0.7);
		}
	}
}

/*APLICO ANIMACIONES EN EL HEADER DE LA SECCION PROMOCIONES*/

/*HEADER*/

.header{
	height: $vh-45;
	animation-name: headerani;
	background-size: cover;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes headerani{
	0%{background-image: url(../img/header/header.webp)}
	25%{background-image: url(../img/header/header2.webp)}
	50%{background-image: url(../img/header/header3.webp)}
	75%{background-image: url(../img/header/header4.webp)}
	100%{background-image: url(../img/header/header5.webp)}
}