/*APLICO PROPIEDADES Y ANIMACIONES A LA SECCION EQUIPOS*/

	/*SECCION DESTACADO DEL MES*/

	.mes img{
		width: $w-55;
		height: $h-25;
		margin-bottom: $e-4;
		border: $borderblack;
		border-radius: $borderradius2;
		animation: traslado 5s;
		position: relative;
		object-fit: cover;
	}
		
		@keyframes traslado{
			from {
				left: -100%;
			}
			to {
				left: 0%;
			}
			animation-timing-function:ease-in-out;
            
		}

/* MODIFICO PROPIEDADES DE LOS BOTONES*/

.cards{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-title{
	text-align: center;
	margin-top: 1em;
	color: map-get($map:$colores,$key:'azul');
	font-family: $fuentesecundaria;
	font-size: $font14;
	font-weight: $text-bold;
}

.card-text {
	font-size: $font14;
	color: map-get($map:$colores,$key:'negro');
	font-family: $fuentesecundaria;
	font-weight: $text-bold;	
}
	