/*FUENTES*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');

$fuenteprimaria:'Comfortaa', cursive;
$fuentesecundaria:'Recursive', sans-serif;

$font14:1.4rem;
$font16:1.6rem;
$font18:1.8rem;
$font28:2.8rem;

$text-bold:700;


