/*MEDIAS QUERIES*/

/* SECCION INDEX */

@include medias(celular){

	/* DEFINO TAMAÑO DEL LOGO*/

	.botoneraprincipal {

		.container-fluid{

			flex-direction: column;
			
			.navbar-brand{

				text-align: center;

				img{
					width: 40%;
					height: $h-auto;
					margin-top: 3px;
				}

			}
				
		}	
	}

	/*DEFINO TAMAÑO DEL IFRAME*/

	.iframe{
		width: $w-90;
		height: $h-auto;
	}

	/*DEFINO TAMAÑO DEL CAROUSEL*/

	.carousel-item{
		height: $vh-15;
	}

	/*AJUSTO TAMAÑO DE LOS TITULOS*/

	.p{
		width: $w-100;
		font-size: $font14;
	}
}

@include medias(tablet){
	
.botoneraprincipal {	

	.container-fluid{
		justify-content: flex-end;
		
			.navbar-nav{
				align-items: flex-end;
			}
		}
	}
}

/*SECCION EQUIPOS*/

	@include medias(celular){

		/*APLICO TAMAÑO AL H1*/
		.mes{ 
			
			h1{
				font-size: $font28;
			}

			img{
				width: $vw-75;
				margin-bottom: 15px;
			}
		}
	
	}


/* SECCION DE GALERIA */

	@include medias(celular){

		/*DEFINO TAMAÑO DEL HEADER*/

		.header{
			height: $vh-28;
			background-repeat: no-repeat;
		}

		/*DEFINO TAMAÑO Y COLUMNAS PARA LA GALERIA*/
			
		.videogaleria{
			grid-template-columns: repeat(1, 1fr);
			justify-items: center;
			div{

				align-content: center;

				img{
					width: $vw-90;
				}
			}
		}

		/*DEFINO TAMAÑO DE LOS TITULOS*/		

		.titulosgaleria{
			p{
			width:$vw-90;
			flex-direction: row;
			font-size: $font14;
			text-align: center;
			margin-top: 5px;
			}
		}

		/*DEFINO TAMAÑO DE LOS ICONOS DEL FOOTER*/

		a {
			img{
			width: $vw-8;
			height: $h-auto;
			}
		}
	}
